.custom-button {
  --primary-color: black;
  --secondary-color: white;
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: 600;
  cursor: pointer;

  &:not(.disabled):hover, &:not(.disabled):focus {
    --primary-color: white;
    --secondary-color: black;
  }
}

.google-btn{
  --primary-color: #4285F4;
  --secondary-color: white;

  &:not(.disabled):hover, &:not(.disabled):focus {
    --primary-color: white;
    --secondary-color: #4285F4;
  }
}

.full-width {
  width: 100%;
}

.disabled{
  pointer-events: none;
}