.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    z-index: 5;
  
    .cart-items {
      height: 280px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      scrollbar-width: none;

      &::-webkit-scrollbar{
        width: 0;
      }
    }

    .cart-is-empty{
      width: 80%;
      opacity: 0.1;
      margin: auto;
    }
  
    button {
      margin-top: auto;
    }
  }
  