@media screen and (max-width: 1200px) {
    .sign-up{
        width: 100% !important;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 550px){       
    .button-group{
        flex-direction: column;

        button:first-of-type{
            margin-bottom: 5px;
        }

        *{
            width: 100%;
        }
    }
}

.sign-up{
    width: 35%;
    display: flex;
    flex-direction: column;

    span{
        margin-bottom: 20px;
    }

    form > * {
        margin: 30px 0;
    }

    span{
        font-size: 20px;
    }

    .button-group{
        margin-top: 50px !important;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}