.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    .options {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      .option {
        padding: 10px 15px;
        text-decoration: none;
        color: #333;
        font-size: 1.1em;
        
        &:active{
          background-color: transparent;
        }
      }
    }
  }
  