@media screen and (max-width:660px) {
    .checkout-item{
        flex-direction: column !important;
        
        .image-container{
            width: 100% !important;
            aspect-ratio: 3/4 !important;
            .img{
                width: 100% !important;
                margin: auto;
            }
        }

        .properties-container {
            display: grid !important;
            grid-template-areas: "n p"
                                 "q r";
        
            & > *{
                width: 100% !important;
            }

            .remove-button {
                padding: 0 !important;
            }

        }

        
    }
}

.checkout-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;

    .image-container{
        aspect-ratio: 9/10;

        .img{
            width: 80%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

    }

    .properties-container{
        display: flex;
        justify-content: space-between;
        width: 100%;


        .name{
            width: 30%;
            grid-area: n;
        }
        
        .quantity{
            width: 20.5%;
            display: flex;
            padding-left: 3px;
            box-sizing: border-box;
            grid-area: q;

            .value{
                padding: 0 5px;
            }
        
            .arrow{
                cursor: pointer;
            }
        
            *{
                user-select: none;
            }
        
        }
    }

    .image-container,
    .price {
        width: 21%;
    }

    .price{
        grid-area: p;
    }

    .remove-button {
        grid-area: r;
        padding-left: 24px;
        cursor: pointer;
        user-select: none;
    }
}